
body{ 
    margin: 0px;
    padding: 0%;
    background-color: #eaedfe; 
    font-family:  'Heebo', sans-serif, Arial;
}
#nav{
    height: 70px;
    width: 100%;
   background-color:#eaedfe; 
    display:flex;
    align-content: center;
  
}

#logo{
    width: 15%;
    height: 70px;
    margin-left: 70px;
    margin-right: 600px;
}

#loglist{
    list-style: none;
    display: flex;
    justify-content: space-around;
   
    
}
    
 .in{
     display: inline;
     font-size: 29px;
     color: #c1c3fc ;
     transition:.2s all;  
     padding: 0px 10px 0px 10px;
     text-shadow: 0 0 .5rem currentColor;
 }



 .loglist:hover .in {

    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
    font-size: 32px;
   
 }
 .loglist:hover .in:hover{
 transform:scale(1);
 filter:blur(0px);
 opacity:1;
 box-shadow:0 8px 20px 0px #717de864; 
 border-radius: 10px;
}
 

/***************************/

#main {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}

#intro { 
   color: #c1c3fc ;
    width: 404px;
    height: auto;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intro a{
    border-radius: 50px;
    background-color: #9da3fb;
    text-decoration: none;
    text-align: center;
    width: 50%;
    transition: padding 250ms ease-in-out;
    color: #ffffff91;
    font-size: 25px;
    font-weight: 400;
    
    
    
    
    }
    
    #intro a:hover {
        padding-right: 50px;
        padding-left: 50px;
        text-decoration: none;
        background-color: #c1c3fc91;
        color:#9da3fb;
        transform: scale(1.3);
        text-shadow: 0 0 .5rem currentColor;
    }

.pic {
    width: 600px;
    height: 431px;
   display: flex;
   align-content: center;
   margin: 0px;
}
 